<nav class="sidebar-nav">
  <div class="sidebar-header">
    <h2 class="sidebar-title">{{ t('app.name') }}</h2>
  </div>

  <mat-nav-list class="menu-list">
    <a
      *ngFor="let item of flatMenuItems()"
      mat-list-item
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="getLinkActiveOptions(item.route)"
      (click)="onNavigate()"
      class="menu-item">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>
</nav>
